body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f3e6;
  color: #4a4a4a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f9f3e6;
  padding: 1rem 0;
  z-index: 1000;
}

main {
  flex-grow: 1;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 0 1rem; /* Añadido padding horizontal */
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 0.5rem;
}

nav ul li a {
  text-decoration: none;
  color: #4a4a4a;
}

#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding: 2rem;
}

.profile-image {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.intro-text {
  text-align: center;
  margin-bottom: 2rem;
}

.intro-text h1 {
  font-size: 2rem;
  line-height: 1.2;
  margin: 0;
}

/* Sobre mi */
.sobre-mi-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
}

.sobre-mi-texto,
.formacion {
  width: 100%;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sobre-mi-texto h2,
.formacion h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sobre-mi-texto p,
.formacion li {
  font-size: 1rem;
  line-height: 1.6;
}

.formacion ul {
  list-style-type: none;
  padding: 0;
}

.formacion li {
  margin-bottom: 0.5rem;
}

/* Skills */
.skills-container {
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.skills-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.skills-icons img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.skills-icons img:hover {
  transform: scale(1.1);
}

/* Experiencia */
.experiencia-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 800px;
  margin: 4rem auto; /* Aumentado el margen vertical */
  text-align: left;
}

.experiencia-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
}

.experiencia-container p {
  font-size: 0.9rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
}

.btn-descargar {
  display: inline-block;
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 0.6rem 1.1rem;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btn-descargar:hover {
  background-color: #333333;
}

/* Media Queries para tablets */
@media (min-width: 768px) {
  nav ul li {
    margin: 0 1rem;
    font-size: 1.3rem;
  }

  .profile-image {
    width: 400px;
  }

  .intro-text h1 {
    font-size: 2.5rem;
  }

  .sobre-mi-texto,
  .formacion {
    width: 80%;
  }

  .sobre-mi-texto h2,
  .formacion h2,
  .skills-container h2,
  .experiencia-container h2,
  .contacto-container h2 {
    font-size: 2.5rem;
  }

  .sobre-mi-texto p,
  .formacion li,
  .experiencia-container p {
    font-size: 1rem;
  }

  .skills-icons img {
    width: 80px;
    height: 80px;
  }

  .btn-descargar,
  .btn-enviar {
    font-size: 1rem;
  }

  .descripcion-cuadrado {
    width: 400px;
  }

  .descripcion-cuadrado p {
    font-size: 1rem;
  }

  .experiencia-container {
    padding: 3rem;
    margin: 5rem auto; /* Aumentado el margen vertical para tablets */
  }
}

/* Media Queries para escritorio */
@media (min-width: 1024px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .profile-image {
    width: 600px;
    margin-right: 20rem;
    margin-bottom: 0;
  }

  .intro-text {
    position: absolute;
    margin-left: 500px;
    text-align: left;
  }

  .intro-text h1 {
    font-size: 3rem;
  }

  .sobre-mi-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .sobre-mi-texto,
  .formacion {
    height: 200px;
    width: 45%;
    margin-bottom: 0;
  }

  .skills-container h2,
  .experiencia-container h2,
  .contacto-container h2 {
    font-size: 3rem;
  }

  .skills-icons img {
    width: 100px;
    height: 100px;
  }

  .experiencia-container,
  .contacto-container {
    max-width: 800px;
  }

  .experiencia-container p {
    font-size: 1.2rem;
  }

  .btn-descargar,
  .btn-enviar {
    font-size: 1.1rem;
  }

  .descripcion-cuadrado {
    width: 500px;
  }

  .descripcion-cuadrado p {
    font-size: 1.1rem;
  }

  .experiencia-container {
    padding: 4rem;
    margin: 6rem auto; /* Aumentado el margen vertical para escritorio */
  }
}

.descripcion-rectangulo {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.5rem;
  max-width: 75%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.descripcion-rectangulo p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.6;
}

/* Media Queries para tablets */
@media (min-width: 768px) {
  .descripcion-rectangulo p {
    font-size: 1rem;
  }
}

/* Media Queries para escritorio */
@media (min-width: 1024px) {
  .descripcion-rectangulo p {
    font-size: 1.1rem;
  }
}

.descripcion-cuadrado {
  background-color: #ffffff;
  border: 2px solid #4a4a4a;
  border-radius: 10px;
  padding: 1.5rem;
  margin-top: 2rem;
  max-width: 90%;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.descripcion-cuadrado p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.6;
}

/* Estilos para el formulario de contacto */
.contacto-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  margin: 4rem auto;
}

.contacto-container h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #4a4a4a;
  text-align: center;
}

.contacto-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #4a4a4a;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.btn-enviar {
  background-color: #4a4a4a;
  color: #ffffff;
  padding: 0.6rem 1.1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-enviar:hover {
  background-color: #333333;
}

/* Media Queries para tablets y escritorio */
@media (min-width: 768px) {
  .contacto-container {
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .contacto-container {
    padding: 4rem;
  }
}
